.card {
    background-color: color(white);
    margin: 2rem 0;
    border-radius: 0.3rem;
    box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1);
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: $card-header-padding;
        &__icon {
            font-size: 1.4rem;
            color: color(accent_red);
            padding-right: $white-space;
        }
        &__title {
            padding: 0;
            margin: 0;
            max-width: 80%;
        }
    }
    &__content {
        background-color: color(lightest-bg);
        border-top: 1px solid darken(color(light-bg), 5);
        border-bottom: 1px solid darken(color(light-bg), 5);
        padding: $white-space;
        display: flex;
        flex-direction: column;
        &__answer-select {
            margin: $white-space 0;
            color: color(light-font);
            padding: 1rem 0.8rem;
            border: 1px solid color(light-bg);
            border-radius: 0.3rem;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);

            background-image: url('../img/icons/i-arrows.svg');
            background-position: calc(100% - 1rem), 100% 0;
            background-size:  1rem 1rem;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            transition: 0.3s;
            &:focus{
                border-color: color(primary-blue);
                outline: none;
            }
        }
        &__controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .link {
                text-decoration: underline;
                color: color(light-font);
                padding-right: $card-header-padding;
                transition: 0.3s;
                text-underline-offset: 0.25rem;

                &:hover, &:active{
                    color: color(primary-blue);
                }
            }
            .button {
                background-color: color(primary-blue);
                color: color(white);
                border: none;
                box-shadow: none;
                width: 6rem;
                height: 2.5rem;
                border-radius: 0.3rem;
                transition: 0.3s;
                cursor: pointer;

                .icon{
                    opacity: 0.5;
                    padding-left: 0.5rem;
                    transition: 0.3s;
                }

                &:hover, &:active{
                    background-color: lighten(color(primary-blue), 10);
                    .icon{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1.3rem;
        color: color(light-font);
        &__result {
            &-indicator {
                color: color(accent_red);
            }
        }
        &__delete {
            color: color(light-font);
            cursor: pointer;
            transition: 0.3s;
            &:hover, &:active{
                color: color(accent_red);
            }
        }
    }
}
