/* ==========================================================================
   Variables
   ========================================================================== */

/* Maps
========================================================================== */
/*
    The names and values of variables in maps are just suggestions/random values.
    Feel free to add new values, modify both the values and/or keys of the items depending on the project and your prefferences.
    For each map, a functions is defined (in base/_functions.scss).
    By default, function names are single a singular form of the map's variable name.
    Eg. To use the "main" color, a getter function "color" is defined.
    To use it, simply call: color(main).
*/

$breakpoints: (
    mobile: 768px,
    tablet: 1025px,
    desktop: 1400px,
);

$orientations: (
    portrait: portrait,
    landscape: landscape,
);

$colors: (
    main: #000,
    white: #fff,

    light-bg: #E6EBF1,
    lightest-bg: #F6F9FC,
    dark-bg: #1C2237,
    dark-font: #3C3C3F,
    light-font:#838EAB,

    accent_red: #FB726F,
    accent_orange: #F8A86B,

    primary-blue: #465DEF,

    dark-card-bg: #212844
);

$sizes: (
    media: 400px,
    inner: (
        desktop: 960px,
        tablet: 760px,
        mobile: 320px
    ),
);

// Set main font size to body (eg. 12px), then refer to it using rem, eg. secondary: 2rem -> 24px
$font-sizes: (
    main: 14px,
    nav: 1.1rem,
    h1: 2rem,
    h2: 1.15rem,
    small: 0.8rem,
    quote: 9px
);

$offsets: (
    default: 16px,
    large: 24px,
    small: 8px
);

$fonts: (
    //main: #{'Arial', sans-serif}
    main: #{'SF Pro Text', sans-serif}
    // secondary: 'Helvetica'
);

$defaults: (
    border-radius: 4px,
    line-height: 1.2
);

/* Standalone variables
========================================================================== */
$white-space: 1em;
$card-header-padding: 2rem;
$form-control-height: 2rem;



/* SFPRO Font
========================================================================== */
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Heavy.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-LightItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Regular.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFPro/SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/SFPro/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
