/* ==========================================================================
   Header
   ========================================================================== */
.header {
    background-color: color(primary-blue);
    position: fixed;
    width: 100%;
}

