/* ==========================================================================
   Main content
   ========================================================================== */
* {
    box-sizing: border-box;
}
body{
    background-color: color(dark-bg);
}
.l-main {

    background-color: color(light-bg);
}
